.detail {
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 0;
}
.form_group {
  display: flex;
  flex-direction: column;
}
.proceed_btn {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #e7b464;
}
.output_lyrics {
  width: 300px;
  height: 50vh;
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: 40px;
  overflow: auto;
}
.lyrics {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #330072;
  font-family: "Gibson";
  padding: 15px;
  text-align: left;
}
