:root {
  font-family: Gibson, sans-serif;
  line-height: 1;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */
  /* background-image: linear-gradient(to bottom left,gray,#330072); */
  background-color: #330072;
  color: #ffffff;
  /* background-color: #5000b0; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Dairy Milk Font;
  src: url(./assets/fonts/DairyMilkFont-Medium.otf);
}
@font-face {
  font-family: Gibson;
  src: url(./assets/fonts/Gibson.ttf);
}
@font-face {
  font-family: Gibson-Bold;
  src: url(./assets/fonts/Gibson-Bold.ttf);
}
@font-face {
  font-family: Gibson-Italic;
  src: url(./assets/fonts/Gibson-Italic.ttf);
}
@font-face {
  font-family: Gibson-Regular;
  src: url(./assets/fonts/Gibson-Regular.ttf);
}
@font-face {
  font-family: Gibson-SemiBold;
  src: url(./assets/fonts/Gibson-SemiBold.ttf);
}
@font-face {
  font-family: Gibson-Light;
  src: url(./assets/fonts/Gibson-Light.ttf);
}
a {
  color: inherit;
}
.button {
  border: none;
  outline: none;
  border-bottom: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
main {
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  height: 35px;
  padding: 8px 12px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
}
input {
  border: none;
  outline: none;
  font-size: 12px;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  border-radius: 50%;
}
